<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <%- include('styles'); -%>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <div class="section"></div>
    <main>
        <center>
            <div class="container feed-block-container">
                <div class="z-depth-2 feed-block">
                    <div class="col s12">
                        Mylife is an experimental web app that was an attempted recreation of OhLife, an online journal app.  The main functionality
                        is that emails are sent every day, and when the user replies to this email, their journal entry will be saved.  Previous
                        journal entries will also be sent to the user to look back on their memories.  This app expands on that concept and introduces
                        a whole web interface for users to interact with in case they choose to do so, but also maintain the private journal entries
                        as the core functionality. 
                    </div>
                    <div class="row">
                        <a class='col s2 offset-s10 btn btn-large waves-effect indigo'
                            style="position: relative; right: 10px;" href="/">Home</a>
                    </div>
                </div>
            </div>
            </div>
            </div>
        </center>
    </main>
</body>