<!DOCTYPE html>
<html>

<head>
	<title>Landing!</title>
	<%- include('styles'); -%>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
	<div class="container">
		<div class="row">
			<div class="col s4 offset-s4">
				<h1>
					<span class="home">
						MyLife
					</span>
				</h1>
			</div>
		</div>
		<div class="row">
			<div class="home-button">
				<div class="col s3">
					<img src="/images/book.png" width="192" height="192">
				</div>
				<div class="col s3">
					<img src="/images/edit.png" width="192" height="192">
				</div>
				<div class="col s3">
					<img src="/images/user.png" width="192" height="192">
				</div>
				<div class="col s3">
					<img src="/images/lock.png" width="192" height="192">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="home-text">
				<div class="col s3">
					<a href="/feed/1" class="indigo lighten-1 waves-effect waves-light btn-large">Read</a>
				</div>
				<div class="col s3">
					<a href="/write" class="indigo lighten-1 waves-effect waves-light btn-large">Write</a>
				</div>
				<% if (user) { %>
				<% let link = '/profile/' + user.id; %>
				<div class="col s3">
					<a href="<%=link%>" class="indigo lighten-1 waves-effect waves-light btn-large" style="right: 0.5em;">Profile</a>
				</div>
				<% } else { %>
				<div class="col s3">
					<a href="/profile/1" class="indigo lighten-1 waves-effect waves-light btn-large" style="right: 0.5em;">Profile</a>
				</div>
				<% } %>
				<div class="col s3">
					<% if (user) { %>
					<a href="/logout" class="indigo lighten-1 waves-effect waves-light btn-large" style="right:0.7em;">Logout</a>
					<% } else { %>
					<a href="/login" class="indigo lighten-1 waves-effect waves-light btn-large">Login</a>
					<% } %>
				</div>
			</div>
		</div>
	</div>
<!--	<hr class="line">-->
	<!--<p>Welcome to <%= title %></p>-->

</body>

</html>