<!DOCTYPE html>
<html>

<head>
	<title>Landing!</title>
	<%- include('styles'); -%>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
	<div class="container">
		<div class="row">
			<div class="col s4 offset-s4">
				<h1>
					<span class="home">
						MyLife
					</span>
				</h1>
			</div>
		</div>
		<div class="row">
			<div class="home-button">
				<div class="col s3">
					<img src="/images/test-book.png" width="192" height="192">
				</div>
				<div class="col s3">
					<img src="/images/test-edit.png" width="192" height="192">
				</div>
				<div class="col s3">
					<img src="/images/test-user.png" width="192" height="192">
				</div>
				<div class="col s3">
					<img src="/images/test-lock.png" width="192" height="192">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="home-text">
				<div class="col s3">
					<a href="/feed/1" class="blue waves-effect waves-light btn-large">Read</a>
				</div>
				<div class="col s3">
					<a href="/write" class="blue waves-effect waves-light btn-large">Write</a>
				</div>
				<% if (user) { %>
				<% let link = '/profile/' + user.id; %>
				<div class="col s3">
					<a href="<%=link%>" class="blue waves-effect waves-light btn-large"
						style="right: 0.5em;">Profile</a>
				</div>
				<% } else { %>
				<div class="col s3">
					<a href="/login" class="blue waves-effect waves-light btn-large" style="right: 0.5em;">Profile</a>
				</div>
				<% } %>
				<div class="col s3">
					<% if (user) { %>
					<a href="/logout" class="blue waves-effect waves-light btn-large" style="right:0.7em;">Logout</a>
					<% } else { %>
					<a href="/login" class="blue waves-effect waves-light btn-large">Login</a>
					<% } %>
				</div>
			</div>
		</div>
	</div>
</body>
<main></main>
<footer class="page-footer" style="background-color: #1e88e5">
	<div class="container">
		<div class="row">
			<div class="col s5">Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik"
					style="color: whitesmoke; font-weight: bold;">Freepik</a> from <a href="https://www.flaticon.com/"
					title="Flaticon" style="color: whitesmoke; font-weight: bold;">www.flaticon.com</a></div>
			<a href="/about" class="grey-text text-lighten-4 right col s2 offset-s5">About </a> 
		</div> 
	</div> 
</footer>				
</html>