<!DOCTYPE html>
<html>

<head>
    <title>Comments</title>
    <%- include('styles'); -%>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <div class="section"></div>
    <main>
        <center>
            <div class="container feed-block-container">
                <div class="z-depth-2 feed-block">
                    <% for(let i = 0; i < comments.length; i++) { %>
                        <div class="col s12">
                            <a href="/read/<%=comments[i].id_posts%>">
                                <div class="card feed-card">
                                    <div class="row">
                                        <div class="col s12">
                                            <div class="card-content grey-text text-lighten-3">
                                                <div class="feed-card-author"><%= comments[i].body%></div>
                                            </div>
                                        </div>
                                    </div>
                            </a>
                        </div>
                    <% } %>
                    <div class="row">
                        <a class='col s2 offset-s10 btn btn-large waves-effect indigo' style="position: relative; right: 10px;" href="/profile/<%=comments[0].id_account%>">Return</a>
                    </div>
                    </div>
                </div>
            </div>
            </div>
        </center>
    </main>
</body>