<!DOCTYPE html>
<html>

<head>
    <title>Profile</title>
    <%- include('styles'); -%>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <div class="section"></div>
    <main>
        <center>
            <div class="container feed-block-container">
                <div class="z-depth-2 feed-block">
                        <div class="col s12">
                            No posts found
                        </div>
                    <div class="row">
                        <a class='col s2 offset-s10 btn btn-large waves-effect indigo' style="position: relative; right: 10px;" href="/profile/<%=id%>">Return</a>
                    </div>
                    </div>
                </div>
            </div>
            </div>
        </center>
    </main>
</body>