<!DOCTYPE html>
<html>

<head>
  <title>Reset</title>
  <%- include('styles'); -%>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div class="section"></div>
  <main>
    <center>
      <div class="section"></div>
      <h5 class="indigo-text">Account Reset</h5>
      <div class="section"></div>
      <div class="container">
        <div class="z-depth-1 row"
          style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE; background-color: #ffefbd;">
          <form class="col s12" method="post">
            <div class='row'>
              <div class='col s12'>
              </div>
            </div>
            <div class='row'>
              <div class='input-field col s12'>
                <input class='validate' type='password' name='password' id='password' />
                <label for='password'>Enter your password</label>
              </div>
            </div>
            <div class='row'>
              <div class='input-field col s12'>
                <input class='validate' type='password' name='password_validate' id='password_validate' />
                <label for='password_validate'>Re-enter your password</label>
              </div>
            </div>
            <br />
            <center>
              <div class='row'>
                <button type='submit' name='btn_login'
                  class='col s12 btn btn-large waves-effect blue'>Reset</button>
              </div>
              <div class="row">
                <%  if (errors) { %>
                <ul>
                  <% for(var i = 0; i < errors.length; i++) {%>
                <li><%= errors[i].msg %></li>
                <% } %>
                </ul>
              <% } %>
              <%if (message) { %>
                <p><%= message %></p>
              <% } %>
              </div>
        </div>
    </center>
    </form>
    </div>
    </div>
    </center>
    <div class="section"></div>
    <div class="section"></div>
  </main>

</body>


</html>