body {
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: linear-gradient(#e3f2fd, #90caf9);
  background-repeat: no-repeat;
  background-attachment: fixed; }

a {
  color: #68b3f2; }

h1, .home, .home-text {
  font-family: Helvetica, Arial, sans-serif;
  color: #424242; }

h3 {
  font-family: Helvetica, Arial, sans-serif;
  color: #424242; }

.read-user {
  font-family: Helvetica, Arial, sans-serif;
  color: #424242;
  text-align: right;
  font-size: 36px;
  position: relative;
  top: 55px; }

.bio {
  position: relative;
  bottom: 2em;
  word-wrap: break-word; }

.bio-header {
  position: relative;
  left: 3em;
  bottom: 1em; }

.bio-left {
  text-align: left;
  position: relative;
  left: 7em; }

.bio-right {
  text-align: right; }

.home {
  font-size: 2em;
  position: relative;
  top: 0.75em;
  right: 0.25em; }

.home-icon {
  position: relative;
  left: 8.5em;
  top: 12em; }

.home-text {
  font-size: 2em;
  position: relative;
  left: 1.5em;
  top: 8em; }

.home-button {
  position: relative;
  top: 16em; }

.feed-button {
  position: relative; }

.line {
  border: 4px solid;
  position: relative;
  top: 17em;
  color: #9fa8da; }

.divider, .feed-divider {
  position: absolute;
  left: 30%;
  top: 5%;
  bottom: 0%;
  height: 90%;
  border-left: 1px solid #ffefbd;
  box-shadow: 3px 0px 3px #616161; }

.ql-editor {
  min-height: 45vh;
  background-color: #EEEEEE; }

.ql-toolbar {
  background-color: #EEEEEE; }

.ql-editor strong {
  font-weight: bold; }

/* label focus color */
.input-field input[type=text]:focus + label {
  color: #9e9e9e !important; }

/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #9e9e9e !important;
  box-shadow: 0 1px 0 0 #9e9e9e !important; }

/* label focus color */
.input-field input[type=email]:focus + label {
  color: #9e9e9e !important; }

/* label underline focus color */
.input-field input[type=email]:focus {
  border-bottom: 1px solid #9e9e9e !important;
  box-shadow: 0 1px 0 0 #9e9e9e !important; }

/* label focus color */
.input-field input[type=password]:focus + label {
  color: #9e9e9e !important; }

/* label underline focus color */
.input-field input[type=password]:focus {
  border-bottom: 1px solid #9e9e9e !important;
  box-shadow: 0 1px 0 0 #9e9e9e !important; }

.switch label input[type=checkbox]:checked + .lever {
  background-color: #42a5f5; }

.switch label input[type=checkbox]:checked + .lever:after {
  background-color: #42a5f5; }

.feed-block-container {
  min-width: 95%;
  padding: 10vh 0vh 0vh 0vh; }

.feed-block {
  display: inline-block;
  min-width: 100%;
  padding: 3vh 3vh 0vh;
  border: 1px solid #EEE;
  background-color: #ffefbd; }

.feed-card {
  background-color: #fcbb9f;
  padding: 10px 0px 0px 0px; }

.feed-card-title {
  text-align: left;
  font-size: 2.1em; }

.feed-card-author {
  text-align: left;
  font-size: 1.5em; }

.feed-divider {
  left: 7.25%;
  border-left: 1px solid #fcbb9f; }

.write-card {
  display: inline-block;
  min-width: 100%;
  min-height: 70vh;
  padding: 2vh 2vh 1vh;
  border: 1px solid #EEE;
  background-color: #ffefbd; }

strong {
  font-weight: bold; }

/*# sourceMappingURL=style.css.map */